annotated-types==0.7.0
colorama==0.4.6
dotdict==0.1
grpcio==1.80.0
grpcio-health-checking==1.80.0
grpcio-reflection==1.80.0
grpcio-tools==1.80.0
iniconfig==2.0.0
packaging==24.2
pluggy==1.5.0
protobuf==6.33.6
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.13.1
pyserial==3.5
pytest==8.3.4
python-dotenv==1.2.2
robotframework==6.1
setuptools==82.0.1
typing-extensions==4.15.0
typing-inspection==0.4.2
docutils>=0.22.4
pygments
dotdict
regex
pydotdict


