# External Python modules required to be installed for RobotFramework AIO (Windows)
# See atest/README.rst for more information.
#
# For pinned versions ensuring reproducible builds, see python_requirements.lock
# Import all pinned versions from the lock file
-r python_requirements.lock
