# External Python modules required to be installed for RobotFramework AIO
# See atest/README.rst for more information.

#Appium-Python-Client
Sphinx
aenum
attrs                
# autobahn             
# Automat 
bcrypt
certifi             
cffi                 
colorama             
configparser         
# constantly           
# cssselect            
# Cython     
cryptography
cycler
decorator
docutils
dotdict          
dotmap               
doxypypy   
doipclient          
easyprocess 
httpserver
idna
jsonschema
kiwisolver         
# ecdsa                
# envoy                
# futures              
func_timeout
# git-review           
# gitapi               
# gitdb2               
# GitPython            
# incremental          
# kazoo                
# libusb1              
# lupa                 
lxml                 
# M2CryptoWin32        
matplotlib   
msl_loadlib        
# mpmath               
# multi-key-dict       
mysqlclient         
# ntlm-auth            
numpy                
ordereddict          
paho-mqtt            
paramiko             
# parsel               
path.py              
# pbr                  
pickleDB             
pillow
# pip                  
# Pmw                  
# progressbar          
psutil               
# py                   
pycparser            
# pycrypto             
# pydbus               
# PyDispatcher         
# pygobject            
# pyHook               
pyodbc  
pycparser
PyNaCl             
# pyOpenSSL            
pyparsing            
# PyQt4                
pyscreenshot         
pyserial==3.4
# pytest 
pyrsistent           
python-can   
python-dateutil
pyshark  
pyttsx    
# python-jenkins       
# pythonnet            
# PyUserInput          
pywin32              
# pywinrm              
PyYAML               
pyzmq                
QLed                 
# queuelib             
requests             
# requests-ntlm  
Appium-Python-Client==3.1.1
robotframework-appiumlibrary==2.0.0
robotframework-ftplibrary     
robotframework-listenerlibrary
robotframework-mqttlibrary    
robotframework-pythonlibcore  
robotframework-requests       
robotframework-sshlibrary     
robotframework-excellib
robotframework-seriallibrary
robotframework-imagecompare
robotframework-dependencylibrary
schedule
scp
# scapy
scipy                
# Scrapy            
setuptools   
# selenium             
# service-identity                
six                  
# smmap                
# smmap2               
# sympy                
# tinydb               
# trollius             
# Twisted              
# txaio                
urllib3              
# w3lib
#windows-curses 
wave
wrapt               
xmltodict            
# zc.thread            
# zc.zk                
# zope.interface       
tk
pandas
bokeh
robotframework-robocop
pylint
#pandoc
pypandoc_binary
mobly
pytest_mock
odxtools
xmlschema
pyinstaller
pre-commit
pre-commit-hooks
robotframework-tidy
black
isort
ruff