name: Build RobotFramework AIO packages

on:
  push:
    tags:
      - "rel/aio/*.*.*.*"
      - "dev/aio/*.*.*.*"
  pull_request:
    types:
      - closed
      - opened
      - synchronize
    branches: 
      - develop
  workflow_dispatch:

  repository_dispatch:
    types:
      - TRIGGER_AIO

env:
  GITHUB_PAT : ${{ secrets.PAT_GITHUB }} 
  GH_TOKEN: ${{ github.token }}
  TRIGGER_BY: ${{ github.ref_type }}
  TAG_NAME: ${{ github.ref_name }}
  REF_NAME: ${{ github.ref_name }}
  DEFAULT_REF: ${{ github.base_ref }}
  MAINDOC_CONFIGFILE: --configfile "./maindoc/maindoc_configs/maindoc_config_OSS.json"
  AIO_NAME: "RobotFramework AIO"
  BUNDLE_NAME: --bundle_name "RobotFramework AIO"
  GENDOC_PLANTUML_PATH: "../robotvscode/data/extensions/jebbs.plantuml-2.17.5"
  INSTALLER_LOCATION: "https://github.com/test-fullautomation/RobotFramework_AIO/releases"

jobs:
  tag-repos:
    name: Tag all related repositories
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    steps:
    - name: Checkout source   
      uses: actions/checkout@v3

    - name: Install dependencies
      run: python -m pip install -r ./tools/git-tag/requirements.txt

    - name: Tag repositories
      run: python ./tools/git-tag/git-tag.py "$TAG_NAME" ./config/repositories/tag_repos.json

  trigger-aio:
    runs-on: ubuntu-latest
    name: Listen event trigger
    if: github.event.action == 'TRIGGER_AIO'
    outputs:
      repository: ${{ steps.extract_data.outputs.REPOSITORY }}
      branch: ${{ steps.extract_data.outputs.PULL_MERGE_BRANCH }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Extract request data
        id: extract_data
        run: |
          # Extract value from request JSON payload
          repository=$(jq -r .client_payload.repository $GITHUB_EVENT_PATH)
          branch=$(jq -r .client_payload.branch $GITHUB_EVENT_PATH)
          echo "REPOSITORY=${repository#test-fullautomation/}"  >> "$GITHUB_OUTPUT"
          echo "PULL_MERGE_BRANCH=$branch"  >> "$GITHUB_OUTPUT"

  build-linux:
    name: Build Linux package
    runs-on: ubuntu-latest
    needs: [ tag-repos , trigger-aio ]
    if: ${{ ! failure() && ! cancelled() }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install dependencies and set environment variables
        run: |
          sudo apt-get update
          sudo apt-get install --fix-missing
          chmod +x ./requirements_linux.sh
          ./requirements_linux.sh
          echo "AIO_VERSION_DATE=$(date +%m.%Y)" >> $GITHUB_ENV
          echo "AIO_VERSION=${TAG_NAME#[rd]e[vl]/aio/}" >> $GITHUB_ENV
          echo "BUNDLE_VERSION_DATE=--bundle_version_date \"$(date +%m.%Y)\"" >> $GITHUB_ENV
          echo "BUNDLE_VERSION=--bundle_version \"${TAG_NAME#[rd]e[vl]/aio/}\"" >> $GITHUB_ENV
          # Environment variable for trigger process
          echo "REPOSITORY=${{needs.trigger-aio.outputs.repository}}" >> $GITHUB_ENV
          echo "PULL_REQUEST_BRANCH=${{needs.trigger-aio.outputs.branch}}" >> $GITHUB_ENV

      - name: Clone repositories
        run: |
          chmod +x ./cloneall
          ./cloneall

      - name: Install
        run: |
          chmod +x ./install/install.sh
          ./install/install.sh

      - name: Build
        run: |
          chmod +x ./build
          ./build

      - name: Update all documents
        if: ${{ github.ref_type == 'tag' }}
        run: |
          cd ../robotframework-documentation
          doc_branch=automation/task/update-rfw-documents
          git config user.email "huavanthong14@gmail.com"
          git config user.name "Thong Hua"
          git checkout -b $doc_branch
          git remote add doc-repo https://${{ secrets.PAT_THONG }}@github.com/test-fullautomation/robotframework-documentation.git
          git add RobotFrameworkAIO/Components.html
          git add RobotFrameworkAIO/RobotFrameworkAIO_Reference.pdf
          git add RobotFrameworkAIO/Components.rst
          git commit -m "Auto update documents in robotframework-documents"
          git push -u -f doc-repo $doc_branch
          echo -e "\e[32;01mPush all changes completely ... \e[0m"
          
          curl -f -X POST https://api.github.com/repos/test-fullautomation/robotframework-documentation/dispatches \
          --header 'authorization: Bearer ${{ secrets.PAT_THONG }}' \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          --data '{"event_type": "Document", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'", "branch" : "'"$doc_branch"'"}}'
          if [ $? -ne 0 ]; then
            echo "Error: curl command failed to trigger a document jobs"
            exit 1
          fi

          echo -e "\e[32;01m Trigger jobs for pull request  successfully...\e[0m"

      - name: Upload built package
        uses: actions/upload-artifact@v3
        with:
          name: linux-package
          path: output_lx/*.deb

  build-windows:
    name: Build Windows package
    runs-on: windows-latest
    needs: [ tag-repos , trigger-aio ]
    if: ${{ ! failure() && ! cancelled() }}

    steps:
      - name: Support long path in git
        run: git config --system core.longpaths true

      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install dependencies and set environment variables
        shell: bash
        run: |
          . ./requirements_windows.sh
          echo "GENDOC_LATEXPATH=$GENDOC_LATEXPATH" >> $GITHUB_ENV
          echo "AIO_VERSION_DATE=$(date +%m.%Y)" >> $GITHUB_ENV
          echo "AIO_VERSION=${TAG_NAME#[rd]e[vl]/aio/}" >> $GITHUB_ENV
          echo "BUNDLE_VERSION_DATE=--bundle_version_date \"$(date +%m.%Y)\"" >> $GITHUB_ENV
          echo "BUNDLE_VERSION=--bundle_version \"${TAG_NAME#[rd]e[vl]/aio/}\"" >> $GITHUB_ENV
          echo "REPOSITORY=${{needs.trigger-aio.outputs.repository}}" >> $GITHUB_ENV
          echo "PULL_REQUEST_BRANCH=${{needs.trigger-aio.outputs.branch}}" >> $GITHUB_ENV

      - name: Clone repositories
        shell: bash
        run: |
          chmod +x ./cloneall
          ./cloneall

      - name: Install
        shell: bash
        run: ./install/install.sh

      - name: Build
        shell: bash
        run: ./build

      - name: Upload built package
        uses: actions/upload-artifact@v3
        with:
          name: windows-package
          path: Output/

  install-test-windows:
    name: Test Windows package
    runs-on: windows-latest
    needs: [ build-windows  , trigger-aio ]
    if: ${{ ! failure() && ! cancelled() }}
    env:
      RobotPythonPath: "C:/Program Files/RobotFramework/python39"
      RobotTutorialPath: "C:/RobotTest/tutorial"
      RobotPythonSitePackagesPath: "C:/Program Files/RobotFramework/python39/Lib/site-packages"
      GENDOC_PLANTUML_PATH: "C:/Program Files/RobotFramework/robotvscode/data/extensions/jebbs.plantuml-2.17.5"

    steps:
    - name: Support long path in git
      run: git config --system core.longpaths true

    - name: Checkout source
      uses: actions/checkout@v3

    - name: Clone repositories
      shell: bash
      run: |
        export REPOSITORY="${{needs.trigger-aio.outputs.repository}}"
        export PULL_REQUEST_BRANCH="${{needs.trigger-aio.outputs.branch}}"
        chmod +x ./cloneall
        ./cloneall

    - name: Download Windows installer package
      uses: actions/download-artifact@v3
      with:
        name: windows-package

    - name: Install RobotFramework AIO on Windows
      shell: cmd
      run: ./scripts/install-windows.bat

    - name: Run tests on Windows
      shell: bash
      run: |
        "$RobotPythonPath/python" test/aio-test-trigger/aio-test-trigger.py 2>&1 | tee console_log.txt
        # Get system error code from python program
        exit_code=${PIPESTATUS[0]}
        if [ $exit_code -ne 0 ]; then
            exit 1
        fi

    - name: Generate release info
      shell: cmd
      run: |
        "%RobotPythonPath%\python" .\tools\release_info\release_info.py --configfile ".\release_info_config_OSS.json"
        move .\tools\release_info\release_info_RobotFramework_AIO_*.html ..\
        move .\tools\release_info\release_changelog.html ..\
         
    - name: Upload test result as artifact
      if: success() || failure()
      uses: actions/upload-artifact@v3
      with:
        name: windows-aiotestlogfiles
        # long path issue on Windows when upload artifact 
        # https://github.com/actions/upload-artifact/issues/240
        path: |
          ${{ runner.workspace }}/[Rr]obotframework*/**/*/aiotestlogfiles/*
          ${{ runner.workspace }}/[Pp]ython*/**/*/aiotestlogfiles/*
          ${{ runner.workspace }}/[Rr]obotframework*/**/*/testlogfiles/*
          ${{ runner.workspace }}/[Pp]ython*/**/*/testlogfiles/*
          ${{ runner.workspace }}/Robotframework_AIO/console_log.txt
          ${{ runner.workspace }}/release_info_RobotFramework_AIO_*.html
          ${{ runner.workspace }}/release_changelog.html
          ${{ runner.workspace }}/Robotframework_AIO/install-windows.log


  install-test-linux:
    name: Test Linux package
    runs-on: ubuntu-latest
    needs: [ build-linux , trigger-aio ]
    if: ${{ ! failure() && ! cancelled() }}

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Clone repositories
      run: |
        export REPOSITORY="${{needs.trigger-aio.outputs.repository}}"
        export PULL_REQUEST_BRANCH="${{needs.trigger-aio.outputs.branch}}"
        chmod +x ./cloneall
        ./cloneall

    - name: Download Linux installer package
      uses: actions/download-artifact@v3
      with:
        name: linux-package

    - name: Install on Linux
      run: |
        sudo apt-get update
        sudo apt-get install ./*.deb --fix-missing

    - name: Run tests on Linux
      run: |
        . /opt/rfwaio/linux/set_robotenv.sh
        $RobotPythonPath/python3.9 test/aio-test-trigger/aio-test-trigger.py 2>&1 | tee console_log.txt
        # Get system error code from python program
        exit_code=${PIPESTATUS[0]}
        if [ $exit_code -ne 0 ]; then
            exit 1
        fi

    - name: Generate release info
      run: |
        . /opt/rfwaio/linux/set_robotenv.sh
        $RobotPythonPath/python3.9 tools/release_info/release_info.py --configfile ./release_info_config_OSS.json
        mv ./tools/release_info/release_info_RobotFramework_AIO_*.html ../
       
    - name: Upload test result as artifact
      if: success() || failure()
      uses: actions/upload-artifact@v3
      with:
        name: linux-aiotestlogfiles
        path: |
          ${{ runner.workspace }}/**/*/aiotestlogfiles/*
          ${{ runner.workspace }}/**/*/testlogfiles/*
          ${{ runner.workspace }}/**/*/console_log.txt
          ${{ runner.workspace }}/release_info_RobotFramework_AIO_*.html


  release:
    name: Release AIO
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: [install-test-windows, install-test-linux]
    if: ${{ ! failure() && ! cancelled() && github.ref_type == 'tag' && startsWith(github.ref, 'refs/tags/rel/aio/') }}

    steps:
    - name: Download artifact from build workflow
      uses: actions/download-artifact@v3

    - name: Get released file names
      run: |
        echo "EXE_FILE=$(ls windows-package/*.exe | head -1)" >> $GITHUB_ENV
        echo "DEB_FILE=$(ls linux-package/*.deb | head -1)" >> $GITHUB_ENV
        echo "RELEASE_INFO_FILE=$(ls windows-aiotestlogfiles/release_info_RobotFramework_AIO_${TAG_NAME#rel/aio/}.html)" >> $GITHUB_ENV
        echo "RELEASE_VERSION=${TAG_NAME#rel/aio/}" >> $GITHUB_ENV


    - name: Create/Update GitHub Release
      id: create_update_release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        omitNameDuringUpdate: true
        makeLatest: true
        name: RobotFramework AIO version ${{ env.RELEASE_VERSION }}
        artifacts: "windows-package/*.exe,linux-package/*.deb,windows-aiotestlogfiles/release_info_RobotFramework_AIO_*.html"
        bodyFile: "windows-aiotestlogfiles/release_changelog.html"

  tag-to-publish-packges-to-pypi:
    name: Tag Python packages to trigger workflow for publishing to PyPI
    runs-on: ubuntu-latest
    needs: [install-test-windows, install-test-linux]
    if: ${{ ! failure() && ! cancelled() && github.ref_type == 'tag' && startsWith(github.ref, 'refs/tags/rel/aio/') }}

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Install dependencies
      run: python -m pip install -r ./tools/git-tag/requirements.txt

    - name: Tag repositories
      run: |
        chmod +x ./tools/git-tag/tag_repos_with_their_version_file.sh
        ./tools/git-tag/tag_repos_with_their_version_file.sh ./config/repositories/publish_pypi_repos.txt

  update-version-aio:
    name: Update version AIO
    runs-on: ubuntu-latest
    needs: [install-test-windows, install-test-linux]
    if: ${{ ! failure() && ! cancelled() && github.ref_type == 'tag' }}

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Set Up Git User
      run: |
        git config user.email "huavanthong14@gmail.com"
        git config user.name "Thong Hua"
    
    - name: Checkout automation branch
      run: |
        tag_branch=automation/task/update_controlfile_version
        echo $tag_branch > tag_branch.txt
        git checkout -b $tag_branch

    - name: Update version AIO on control file
      run: |
        export AIO_VERSION=${TAG_NAME#[rd]e[vl]/aio/}
        . ./include/bash/common.sh && update_debian_control_file
      
    - name: Commit Changes
      run: |
        tag_branch=$(cat tag_branch.txt)
        git add ./config/build/dpkg_build/control
        git commit -m "Auto commit from GitHub Actions"
        git push -u -f origin $tag_branch

    - name: Create Pull Request
      run: |
        tag_branch=$(cat tag_branch.txt)

        pr_exists=$(gh pr list --state open | grep -qw "Auto-generated pull request" && echo "found" || echo "not found")
        if [ "$pr_exists" == "not found" ]; then
          echo "Pull request not found. Creating a new one..."
          gh pr create \
          --base develop --head $tag_branch \
          --title "Auto-generated pull request" \
          --body "This PR was automatically generated by GitHub Actions to update version" \
          --assignee test-fullautomation \
          --reviewer huavanthong
        else
          echo "Pull request already exists. Skipping..."
        fi

    - name: Clean up
      run: |  
        rm tag_branch.txt